sethandler a:ide

## NERDTree
set NERDTree
nnoremap <C-Space> :NERDTreeToggle<CR>

## Keymapping
inoremap jk <Esc>

## Highlightyank
set highlightedyank
let g:highlightedyank_highlight_duration = "400"


