!!#URxvt.font:     xft:bitstream vera sans mono:size=10:antialias=true
!!#URxvt.boldFont: xft:bitstream vera sans mono:bold:size=10:antialias=true
URxvt.font: xft:ubuntu mono:isze=8:antialias=true 
URxvt.boldFont: xft ubuntu mono:bold:size8:antialias=true
URxvt.scrollBar: false
URxvt.background: #1b1918
URxvt.foreground: #00cc00
URxvt.transparent: true
URxvt.tinColor: white
URxvt.shading: 20


!! black
URxvt*color0: #1b1918
URxvt*color8: #766e6b
!! red
URxvt*color1: #f22c40
URxvt*color9: #f22c40
!! green
URxvt*color2: #5ab738
URxvt*color10: #5ab738
!! yellow
URxvt*color3: #d5911a
URxvt*color11: #d5911a
!! blue
URxvt*color4: #407ee7
URxvt*color12: #407ee7
!! magenta
URxvt*color5: #6666ea
URxvt*color13: #6666ea
!! cyan
URxvt*color6: #00ad9c
URxvt*color14: #00ad9c
!! white
URxvt*color7: #a8a19f
URxvt*color15: #f1efee
